<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <header class="header">
        <nav class="navigation">
            <ul class="list-menu">
                {% for i in menu %}
                <li class="item-menu">
                    <a href="{% url i.url_name %}" class="link-menu">
                        {{i.title}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </header>
</body>
</html>