<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% for i in menu %}
                <li>
                    {% if forloop.first %}
                        <a href="{% url i.url_name %}" title="first">
                            {{i.title}}
                        </a>
                    {% elif forloop.counter == 2 %}
                        <a href="{% url i.url_name %}" title="second">
                            {{i.title}}
                        </a>
                    {% elif forloop.last %}
                        <a href="{% url i.url_name %}" title="last">
                            {{i.title}}
                        </a>
                    {% else %}
                        <a href="{% url i.url_name %}" title="standart">
                            {{i.title}}
                        </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </nav>
    </header>
</body>
</html>