<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title|cut:" "|cut:"с"}}</h1>
    <p>{{menu}}</p>

    <h2>Типы данных</h2>
    <div>
        <p>int: {{int}}</p>
        <p>float: {{float}}</p>
        <p>str: {{str}}</p>
        <p>bool: {{bool}}</p>
        <p>list: {{list}}</p>
        <p>tuple: {{tuple}}</p>
        <p>set: {{set}}</p>
        <p>dict: {{dict}}</p>
        <p>obj: {{obj}}</p>
    </div>
    <h2>Фильтры</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci assumenda corporis dolorum eaque ipsum maxime
        mollitia nam obcaecati officiis, provident reiciendis sapiente sunt tempora temporibus. Eum facere laborum pariatur.
    </p>
    {% for o in posts %}
        <ul>
            {% if o.is_sport %}
                <h2>{{ o.title }}</h2>
            {% else %}
                <h6>{{ o.title }}</h6>
            {% endif %}

            <p>{{ o.intersting }}</p>

            <div><a href="{% url 'post' o.id %}">Читать пост</a></div>

            {% if not forloop.last %}
                <hr>
            {% endif %}
        </ul>
    {% endfor %}
</body>
</html>