{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'women/style/index.css' %}">
</head>
<body>
    <div class="wrapper">
        <ul class="menu">
            {% for i in menu %}
                <li>
                    {% if title == i.title %}
                        {% if forloop.first %}
                            <a href="{% url i.url_name %}" title="first"  class="font">
                                {{i.title}}
                            </a>
                        {% elif forloop.counter == 2 %}
                                    <a href="{% url i.url_name %}" title="second"  class="font">
                                        {{i.title}}
                                    </a>
                                {% elif forloop.last %}
                                    <a href="{% url i.url_name %}" title="last"  class="font">
                                        {{i.title}}
                                    </a>
                                {% else %}
                                    <a href="{% url i.url_name %}" title="standart"  class="font">
                                        {{i.title}}
                                    </a>
                                {% endif %}
                            {% else %}
                                {% if forloop.first %}
                                    <a href="{% url i.url_name %}" title="first">
                                        {{i.title}}
                                    </a>
                                {% elif forloop.counter == 2 %}
                                    <a href="{% url i.url_name %}" title="second">
                                        {{i.title}}
                                    </a>
                                {% elif forloop.last %}
                                    <a href="{% url i.url_name %}" title="last">
                                        {{i.title}}
                                    </a>
                                {% else %}
                                    <a href="{% url i.url_name %}" title="standart">
                                        {{i.title}}
                                    </a>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

        <main class="centring">
            <h1>{{title}}</h1>
            {% block content %}

            {% endblock %}
        </main>

        <footer>
            <div class="centring">
                <h3>Contacts</h3>
                <ul>
                    <li><a href="">Вконтакте</a></li>
                    <li><a href="">Телеграмм</a></li>
                </ul>
            </form>
            </div>
        </footer>
    </div>
</body>
</html>